
STAGE=dev

DB_PASSWORD=MySecr3tPassWord@as2
DB_NAME=TesloDB
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=postgres

PORT=3000
HOST_API=http://localhost:3000/api

JWT_SECRET=Est3EsMISE3Dsecreto32s

PAYPHONE_TOKEN=your_payphone_bearer_token
PAYPHONE_STORE_ID=your_payphone_store_id
FRONTEND_URL=http://localhost:4200